body
{
	background-color:RGB(237,240,242);
	margin:0px;
	font-family:Segoe UI;
}
sub
{
	font-size:10px;
}
hr
{
	color:#999;
}
.mla
{
	text-decoration:none;
	color:#4051b5;
}
.btn
{
	background-image:none;
	border:none;
	background-color:white;
	color:RGB(114,114,114);
	text-align:center;
	cursor:pointer;
	font-size:19px;
}
.ctntbox
{
	background-color:white;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	border-width:1px;
	border-color:RGB(19,19,81);
	border-radius:11px;
	box-shadow: 0px 0px 8px 0px rgb(122 122 122 / 10%);
}
.tz
{
	border-top-style:dotted;
	border-bottom-style:dotted;
	border-color:RGB(228,230,235);
	border-width:1px;
	height:196px;
}
.plsbox
{
	margin-top:16px;
	margin-left:16px;
	padding-top:5px;
	width:25px;
	height:20px;
	border-style:solid;
	text-align:center;
	border-color:RGB(235,235,235);
	background-color:RGB(247,247,247);
	font-size:11px;
	border-width:1px;
	border-radius:11px;
}
.tztitle
{
	font-size:20px;
	color:#2d64b3;
	text-decoration:none;
}
.tzintro
{
	font-size:14px;
	color:#666;
}
.lou
{
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:RGB(228,230,235);
	border-width:1px;
	font-size:14px;
	padding:9px;
}
.ntc
{
	border-left-style:solid;
	border-left-color:RGB(0,184,212);
	border-left-width:3px;
	background-color:RGB(229,248,251);
	box-shadow: 0px 0px 8px 0px rgb(14 14 14 / 10%);
	width:720px;
	margin:19px;
	border-radius:2px;
	padding-top:9px;
}
.inspcbox
{
	background-color:white;
	margin-top:7px;
	padding:9px;
}
.spcboxtt
{
	margin-left:11px;
	font-weight:bold;
}